@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

	<!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
	@Scripts.Render("~/bundles/jquery")
	<link href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2018.3.1017/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2018.3.1017/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2018.3.1017/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2018.3.1017/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @(Html.Kendo().Menu().Name("MainMenu").Items(items =>
                                            {
                                                items.Add().Text("Бизнес")
                                                    .Items(inner =>
                                                    {
                                                        inner.Add().Text("Бизнесы").Action("Index","Business");
                                                        inner.Add().Text("Отделения бизнеса").Action("Index","Branch");;
                                                        inner.Add().Text("Категории бизнеса").Action("Index","Category");
                                                    });
                                                items.Add().Text("Новости")
                                                    .Items(inner =>
                                                    {
                                                        inner.Add().Text("Все новости").Action("Index","News");
                                                        inner.Add().Text("Добавить новость").Action("NewsAdd","News");
                                                    });
                                                items.Add().Text("Полезное")
                                                    .Items(inner =>
                                                    {
                                                        inner.Add().Text("Списко полезного").Action("UsefulList","Useful");
                                                        inner.Add().Text("Рубрики").Action("Index","Useful");

                                                    });
                                                items.Add().Text("Партнеры")
                                                    .Items(inner =>
                                                    {
                                                        inner.Add().Text("Список партнеров").Action("Index","Partner");
                                                    });
                                                items.Add().Text("Работа")
                                                    .Items(inner =>
                                                    {
                                                        inner.Add().Text("Список работ").Action("Index","Jobs");
                                                    });
                                                items.Add().Text("Здравствуйте," + User.Identity.GetUserName())
                                                    .Items(inner =>
                                                    {
                                                        inner.Add().Text("Заявки").Action("Index","Placement");
                                                        inner.Add().Text("Про нас").Action("Index","AboutUs");
                                                        inner.Add().Text("Настройка").Action("Index", "Manage");
                                                        inner.Add().Text("Выход").Content(@<text>
                                                            @(Html.Kendo().Button()
                                                              .Name("primaryTextButton")
                                                              .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                                              .Content("Выход")
                                                              .Events(ev => ev.Click("logout")))
                                                        </text>);

                                                });
                                        }))
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

<script>
    function logout() {
        document.getElementById('logoutForm').submit();
    }
</script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
