@model IEnumerable<VSCore.Entity.PlacementOnSite>
@{
    ViewBag.Title = "Заявки";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<h2>Заявки</h2>
<br />
<br />
<br />
@foreach (var i in Model)
{
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading header" style="display: flex; justify-content: space-between">
                <strong style="flex-grow: 1">ID: @i.Id - @i.NameBrand - @i.NameDirector</strong> @Html.ActionLink("Видалити", "Delete", "Placement", new { id = i.Id }, new { @class = "btn btn-danger" })
            </div>

            <div class="panel-body content">
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr>
                        <td>Логотип</td>
                        <td style="text-align: center"><img src="~/Images/Temp/@i.Logo" height="100" width="auto" /></td>
                        <td>Фото</td>
                        <td style="text-align: center"><img src="~/Images/Temp/@i.Photo" height="100" width="auto" /></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr>
                        <td>Email</td>
                        <td>@i.Email</td>
                        <td>Телефон 1</td>
                        <td>@i.Phone</td>
                    </tr>
                    <tr>
                        <td>Місто</td>
                        <td>@i.City</td>
                        <td>Ім’я та телефон контактної особи з питань надання інформації для проекту «ВЕТЕРАНО СЕРВІС»</td>
                        <td>@i.ContactToAnsver</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td>Site</td>
                            <td>@i.Site</td>
                            <td>Fb</td>
                            <td>@i.Fb</td>
                            <td>FbBusiness</td>
                            <td>@i.FbBusiness</td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel panel-info">
                    <div class="panel-heading">Суть бізнесу</div>
                    <div class="panel-body">@i.BrandSens</div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Історія виникнення біснесу</div>
                    <div class="panel-body">@i.HistoryOfBrand</div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Інформація про власника</div>
                    <div class="panel-body">@i.OwnerBiography</div>
                </div>
            </div>
        </div>
    </div>
    <br/>
}
<script>
    $(".header").click(function () {

        $header = $(this);
        //getting the next element
        $content = $header.next();
        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $content.slideToggle(500, function () {
            //execute this after slideToggle is done
            //change text of header based on visibility of content div
            //$header.text(function () {
            //    //change text based on condition
            //    return $content.is(":visible") ? "Collapse" : "Expand";
            //});
        });

    });
</script>
<style>
    .container {
        width:100%;
        border:1px solid #d3d3d3;
    }
    .container div {
        width:100%;
    }
    .container .header {
        background-color:#d3d3d3;
        padding: 2px;
        cursor: pointer;
        font-weight: bold;
    }
    .container .content {
        display: none;
        padding : 5px;
    }
</style>
