
@{
    ViewBag.Title = "Додати партнера";
}

<h2>Додати партнера</h2>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <input type="hidden" id="fileNameBLogo" value="" />
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>Зберегти</td>
                                    <td>@(Html.Kendo().Button().Name("save").Content("ЗБЕРЕГТИ").Events(e => e.Click("SavePartner")).HtmlAttributes(new { @class = "btn btn-success" }))</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>Логотип</td>
                                    <td>
                                        <div id="logo"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        @(Html.Kendo().Upload().Name("logoUpload")
                                                      .Validation(validation =>
                                                      {
                                                          validation.AllowedExtensions(new string[] { ".jpg", ".jpeg", ".png", ".bmp", ".gif" });
                                                          validation.MinFileSize(500);
                                                      })
                                                      .Events(e => e.Success("onSuccessLogo").Remove("onSuccessLogo"))
                                                      .Async(a => a
                                                          .Save("Async_Save", "Partner")
                                                          .Remove("Async_Remove", "Partner")
                                                          .AutoUpload(true)))
                                    </td>
                                </tr>
                                <tr>
                                    <td>Назва українською</td>
                                    <td>@(Html.Kendo().TextBox().Name("mainName").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td>Назва англійською</td>
                                    <td>@(Html.Kendo().TextBox().Name("mainNameEn").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td>Адреса українською</td>
                                    <td>@(Html.Kendo().TextBox().Name("address").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td>Адреса англійською</td>
                                    <td>@(Html.Kendo().TextBox().Name("addressEn").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td>Місто українською</td>
                                    <td>@(Html.Kendo().TextBox().Name("city").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td>Місто англійською</td>
                                    <td>@(Html.Kendo().TextBox().Name("cityEn").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4>Інформація по партнеру</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td class="">Телефон 1</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("phone1").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td class=""></td>
                                    <td class=""></td>
                                </tr>
                                <tr>
                                    <td class="">Телефон 2</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("phone2").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td class="">Site</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("siteUrl").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td class="">Телефон 3</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("phone3").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td class="">Facebook</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("fbUrl").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td class="">Google+</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("googleUrl").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td class="">Twitter</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("twUrl").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td class="">Instagram</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("instUrl").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td class="">На мапі</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("mapUrl").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">Опис по партнеру українською</div>
                    <div class="panel-body">
                        @(Html.Kendo().Editor()
                                      .Name("bodyUa")
                                      .Resizable(resizeble => resizeble.Content(true).Toolbar(true))
                                      .Tools(tools => tools
                                          .Clear()
                                          .Bold().Italic().Underline().Strikethrough()
                                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                          .InsertUnorderedList().InsertOrderedList()
                                          .Outdent().Indent()
                                          .CreateLink().Unlink()
                                          .SubScript()
                                          .SuperScript()
                                          .TableEditing()
                                          .ViewHtml()
                                          .CleanFormatting()
                                          .FontName()
                                          .FontSize()
                                          .FontColor().BackColor()
                                      )
                        )
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">Опис по партнеру англійською</div>
                    <div class="panel-body">
                        @(Html.Kendo().Editor()
                                      .Name("bodyEn")
                                      .Resizable(resizeble => resizeble.Content(true).Toolbar(true))
                                      .Tools(tools => tools
                                          .Clear()
                                          .Bold().Italic().Underline().Strikethrough()
                                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                          .InsertUnorderedList().InsertOrderedList()
                                          .Outdent().Indent()
                                          .CreateLink().Unlink()
                                          .SubScript()
                                          .SuperScript()
                                          .TableEditing()
                                          .ViewHtml()
                                          .CleanFormatting()
                                          .FontName()
                                          .FontSize()
                                          .FontColor().BackColor()
                                      )
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        function SavePartner() {
        var _bodyContentUA = $("#bodyUa").data('kendoEditor').encodedValue();
        var _bodyContentEN = $("#bodyEn").data('kendoEditor').encodedValue();
        var _fileNameBLogo = $("#fileNameBLogo").val();
        var _mainName = $("#mainName").val();
        var _mainNameEn = $("#mainNameEn").val();
        var _address = $("#address").val();
        var _addressEn = $("#addressEn").val();
        var _phone1 = $("#phone1").val();
        var _phone2 = $("#phone2").val();
        var _siteUrl = $("#siteUrl").val();
        var _phone3 = $("#phone3").val();
        var _fbUrl = $("#fbUrl").val();
        var _googleUrl = $("#googleUrl").val();
        var _twUrl = $("#twUrl").val();
        var _instUrl = $("#instUrl").val();
        var _mapUrl = $("#mapUrl").val();
        var _cityEn = $("#cityEn").val();
        var _city = $("#city").val();

        var data = {
            bodyContentUA: _bodyContentUA,
            bodyContentEN: _bodyContentEN,
            fileNameBLogo:_fileNameBLogo,
            name:_mainName,
            nameEn:_mainNameEn,
            address:_address,
            addressEn:_addressEn,
            phone1:_phone1,
            phone2:_phone2,
            siteUrl:_siteUrl,
            phone3:_phone3,
            fbUrl:_fbUrl,
            googleUrl:_googleUrl,
            twUrl:_twUrl,
            instUrl:_instUrl,
            mapUrl:_mapUrl,
            city: _city,
            cityEn: _cityEn
        };
        $.ajax({
            type: "POST",
            url: "/Partner/SaveNew",
            data: data,
            success: function() {
                location.href = "/Partner/Index";
            }
        });

    }

    function onSuccessLogo(e) {
        $("#fileNameBLogo").val(e.response.fileName);
        if (e.operation == "upload") {
            for (var i = 0; i < e.files.length; i++) {
                var file = e.files[i].rawFile;

                if (file) {
                    var reader = new FileReader();

                    reader.onloadend = function() {
                        $("<div class='logo'><img src=" + this.result + " /></div>").appendTo($("#logo"));
                    };

                    reader.readAsDataURL(file);
                }
            }
        }
        if (e.operation == "remove") {
        }
    }
    function onSuccessPhoto(e) {
        $("#fileNamePhoto").val(e.response.fileName);
        if (e.operation == "upload") {
            for (var i = 0; i < e.files.length; i++) {
                var file = e.files[i].rawFile;

                if (file) {
                    var reader = new FileReader();

                    reader.onloadend = function() {
                        $("<div class='photo'><img src=" + this.result + " /></div>").appendTo($("#photo"));
                    };

                    reader.readAsDataURL(file);
                }
            }
        }
        if (e.operation == "remove") {
        }
    }
    </script>
</body>
</html>

