@{
    Layout = null;

}
@using VSSite.Resources
@model  VSCore.Entity.Business
<div class="popup-business">
    <img class="popup-business__close" src="/Content/img/close.png" alt="close">
    @{
        if (Translator.language == "ru")
        {
            <h3 class="popup-business__header">@Model.MainName</h3>
        }
        else
        {
            <h3 class="popup-business__header">@Model.MainNameEn</h3>
        }
    }

    <div class="popup-business__social"><a class="popup-business__social-link" href="#" target="_blank"><img class="popup-business__social-img" src="/Content/img/youtube.png" alt="youtube.png"></a><a class="popup-business__social-link" href="#" target="_blank"><img class="popup-business__social-img" src="/Content/img/facebook.png" alt="facebook.png"></a><a class="popup-business__social-link" href="#" target="_blank"><img class="popup-business__social-img" src="/Content/img/twitter.png" alt="twitter.png"></a><a class="popup-business__social-link" href="#" target="_blank"><img class="popup-business__social-img" src="/Content/img/instagram.png" alt="instagram.png"></a></div>
    <div class="popup-business__description-wrapper">
        <div class="popup-business__img-wrapper"><img class="popup-business__small-img" src="/Content/img/gear-wheel.png" alt="gear-wheel.png"><img class="popup-business__big-img" src="/Images/Photo/@Model.Photo" alt=""></div>
        @{
            if (Translator.language == "ru")
            {
                <div class="popup-business__text">@Html.Raw(Model.Description)</div>
            }
            else
            {
                <div class="popup-business__text">@Html.Raw(Model.DescriptionEn)</div>
            }
        }
    </div>
    <div class="popup-business__contacts">
        <div class="popup-business__item">@Translator.city:</div>
        @if (Translator.language == "ru")
        {
            <div class="popup-business__item">@Model.City</div>
        }
        else
        {
            <div class="popup-business__item">@Model.CityEn</div>
        }

        <div class="popup-business__item">@Translator.address:</div>
        @if (Translator.language == "ru")
        {
            <div class="popup-business__item">@Model.Address</div>
        }
        else
        {
            <div class="popup-business__item">@Model.AddressEn</div>
        }

        <div class="popup-business__item">@Translator.phone:</div>
        @if (!string.IsNullOrEmpty(Model.Phone1))
        {
            <a class="popup-business__item_link" href="tel:@Model.Phone1">@Model.Phone1 &nbsp;</a>
        }
        @if (!string.IsNullOrEmpty(Model.Phone2))
        {
            <a class="popup-business__item_link" href="tel:@Model.Phone2">@Model.Phone2 &nbsp;</a>
        }
        @if (!string.IsNullOrEmpty(Model.Phone3))
        {
            <a class="popup-business__item_link" href="tel:@Model.Phone3">@Model.Phone3 &nbsp;</a>
        }
        @if (!string.IsNullOrEmpty(Model.Site))
        {
            <div class="popup-business__item">@Translator.site:</div><a class="popup-business__item_link" href="@Model.Site">@Model.Site</a>
        }
        @if (!string.IsNullOrEmpty(Model.Map))
        {
            <div class="popup-business__item">@Translator.on_the_map:</div>
            <button class="popup-business__item_btn"><img src="/Content/img/marker-map.png" alt="place-marker.png"></button>
            <div class="popup-business__gmaps">
                <iframe @*src="@Model.Map"*@ allowfullscreen id="mapId" style="display: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.228216895754!2d30.513098316050094!3d50.474094979478714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce1141d71c09%3A0x868442c1d928bb3c!2z0LLRg9C70LjRhtGPINCi0YPRgNGW0LLRgdGM0LrQsCwgMzEsINCa0LjRl9CyLCDQo9C60YDQsNC40L3QsA!5e0!3m2!1sru!2sus!4v1490966426023"></iframe>
            </div>
        }

    </div>
    @{
        if (Model.Branches.Count != 0)
        {
            <hr />
            <h3 class="popup-business__header">@Translator.department :</h3>
            <hr />
            <br /> <br /> <br />
            foreach (var i in Model.Branches)
            {


                if (Translator.language == "ru")
                {
                    <h3 class="popup-business__header">@Model.MainName</h3>
                }
                else
                {
                    <h3 class="popup-business__header">@Model.MainNameEn</h3>
                }


                <div class="popup-business__social"><a class="popup-business__social-link" href="#" target="_blank"><img class="popup-business__social-img" src="/Content/img/youtube.png" alt="youtube.png"></a><a class="popup-business__social-link" href="#" target="_blank"><img class="popup-business__social-img" src="/Content/img/facebook.png" alt="facebook.png"></a><a class="popup-business__social-link" href="#" target="_blank"><img class="popup-business__social-img" src="/Content/img/twitter.png" alt="twitter.png"></a><a class="popup-business__social-link" href="#" target="_blank"><img class="popup-business__social-img" src="/Content/img/instagram.png" alt="instagram.png"></a></div>
                <div class="popup-business__description-wrapper">
                    <div class="popup-business__img-wrapper"><img class="popup-business__small-img" src="/Content/img/gear-wheel.png" alt="gear-wheel.png"><img class="popup-business__big-img" src="/Images/Photo/@i.Photo" alt=""></div>
                    @{
                        if (Translator.language == "ru")
                        {
                            <div class="popup-business__text">@Html.Raw(i.Description)</div>
                        }
                        else
                        {
                            <div class="popup-business__text">@Html.Raw(i.DescriptionEn)</div>
                        }
                    }
                </div>
                <div class="popup-business__contacts">
                    <div class="popup-business__item">@Translator.city:</div>
                    @if (Translator.language == "ru")
                    {
                        <div class="popup-business__item">@i.City</div>
                    }
                    else
                    {
                        <div class="popup-business__item">@i.CityEn</div>
                    }

                    <div class="popup-business__item">@Translator.address:</div>
                    @if (Translator.language == "ru")
                    {
                        <div class="popup-business__item">@i.Address</div>
                    }
                    else
                    {
                        <div class="popup-business__item">@i.AddressEn</div>
                    }

                    <div class="popup-business__item">@Translator.phone:</div>
                    @if (!string.IsNullOrEmpty(i.Phone1))
                    {
                        <a class="popup-business__item_link" href="tel:@i.Phone1">@i.Phone1 &nbsp;</a>
                    }
                    @if (!string.IsNullOrEmpty(i.Phone2))
                    {
                        <a class="popup-business__item_link" href="tel:@i.Phone2">@i.Phone2 &nbsp;</a>
                    }
                    @if (!string.IsNullOrEmpty(i.Phone3))
                    {
                        <a class="popup-business__item_link" href="tel:@i.Phone3">@i.Phone3 &nbsp;</a>
                    }
                    @if (!string.IsNullOrEmpty(i.Site))
                    {
                        <div class="popup-business__item">@Translator.site:</div><a class="popup-business__item_link" href="@i.Site">@i.Site</a>
                    }
                    @if (!string.IsNullOrEmpty(i.Map))
                    {
                        <div class="popup-business__item">@Translator.on_the_map:</div>
                        <button class="popup-business__item_btn"><img src="/Content/img/marker-map.png" alt="place-marker.png"></button>
                        <div class="popup-business__gmaps">
                            <iframe @*src="@i.Map"*@ allowfullscreen id="mapId" style="display: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.228216895754!2d30.513098316050094!3d50.474094979478714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce1141d71c09%3A0x868442c1d928bb3c!2z0LLRg9C70LjRhtGPINCi0YPRgNGW0LLRgdGM0LrQsCwgMzEsINCa0LjRl9CyLCDQo9C60YDQsNC40L3QsA!5e0!3m2!1sru!2sus!4v1490966426023"></iframe>
                        </div>
                    }

                </div>


            }
        }
    }

</div>
<script>

    $('.popup-business__close').click(function () {
        $(this).parent().css('display', 'block');
        $('.popups-section').css('display', 'none');
        $('.popup-business__gmaps').css({ 'border': '1px solid transparent', 'height': '0px' });
    });

    $('.popup-business__item_btn').click(function () {

        $('.popup-business__gmaps').css({ 'border': '1px solid grey', 'height': '300px' });
        $('#mapId').css("display", 'block');
    });

</script>

