@{
    Layout = null;
}
@using VSSite.Resources
@model  VSCore.Entity.Business
<div class="popup-business">
    <img class="popup-business__close" src="/Content/img/close.png" alt="close">
    @{
        if (Translator.language == "ru")
        {
            <h3 class="popup-business__header">@Model.MainName</h3>
        }
        else
        {
            <h3 class="popup-business__header">@Model.MainNameEn</h3>
        }
    }

    <div class="popup-business__social">
        @if (!string.IsNullOrEmpty(Model.Video))
        {
            <a class="popup-business__social-link" href="@Model.Video" target="_blank"><img class="popup-business__social-img" src="/Content/img/youtube.png" title="youtube" alt="youtube"></a>
        }
        @if (!string.IsNullOrEmpty(Model.Fb))
        {
            <a class="popup-business__social-link" href="@Model.Fb" target="_blank"><img class="popup-business__social-img" src="/Content/img/facebook.png" title="facebook" alt="facebook"></a>
        }
        @if (!string.IsNullOrEmpty(Model.Tw))
        {
            <a class="popup-business__social-link" href="@Model.Tw" target="_blank"><img class="popup-business__social-img" src="/Content/img/twitter.png" title="facebook" alt="twitter"></a>
        }
        @if (!string.IsNullOrEmpty(Model.Tw))
        {
            <a class="popup-business__social-link" href="@Model.Tw" target="_blank"><img class="popup-business__social-img" src="/Content/img/instagram.png" title="instagram" alt="instagram"></a>
        }
    </div>
    <div class="popup-business__description-wrapper">
        <div class="popup-business__img-wrapper"><img class="popup-business__small-img" src="/Content/img/gear-wheel.png" alt="gear-wheel.png"><img class="popup-business__big-img" src="/Images/Photo/@Model.Photo" title="@Model.MainName" alt="@Model.MainName"></div>
        @{
            if (Translator.language == "ru")
            {
                <div class="popup-business__text">@Html.Raw(Model.Description)</div>
            }
            else
            {
                <div class="popup-business__text">@Html.Raw(Model.DescriptionEn)</div>
            }
        }
    </div>
    <div class="popup-business__contacts">

        @if (Translator.language == "ru")
        {
            if (!string.IsNullOrEmpty(Model.City))
            {
                <div class="popup-business__item">@Translator.city:</div>
                <div class="popup-business__item">@Model.City</div>
            }

        }
        else
        {
            if (!string.IsNullOrEmpty(Model.CityEn))
            {
                <div class="popup-business__item">@Translator.city:</div>
                <div class="popup-business__item">@Model.CityEn</div>
            }

        }


        @if (Translator.language == "ru")
        {
            if (!string.IsNullOrEmpty(Model.Address))
            {
                <div class="popup-business__item">@Translator.address:</div>
                <div class="popup-business__item">@Model.Address</div>
            }

        }
        else
        {
            if (!string.IsNullOrEmpty(Model.AddressEn))
            {
                <div class="popup-business__item">@Translator.address:</div>
                <div class="popup-business__item">@Model.AddressEn</div>
            }

        }


        <div class="popup-business__item">@Translator.phone:</div>
        <div>
            @if (!string.IsNullOrEmpty(Model.Phone1))
            {
                <a class="popup-business__item_link" href="tel:@Model.Phone1">@Model.Phone1 &nbsp;</a>
            }
            @if (!string.IsNullOrEmpty(Model.Phone2))
            {
                <a class="popup-business__item_link" href="tel:@Model.Phone2">@Model.Phone2 &nbsp;</a>
            }
            @if (!string.IsNullOrEmpty(Model.Phone3))
            {
                <a class="popup-business__item_link" href="tel:@Model.Phone3">@Model.Phone3 &nbsp;</a>
            }
        </div>



        @if (!string.IsNullOrEmpty(Model.Site))
        {
            <div class="popup-business__item">@Translator.site:</div><a class="popup-business__item_link" href="@Model.Site">@Model.Site</a>
        }
        @if (!string.IsNullOrEmpty(Model.Map))
        {
            <div class="popup-business__item">@Translator.on_the_map:</div>
            <button class="popup-business__item_btn" onclick="shouMap(@Model.BusinessId)"><img src="/Content/img/marker-map.png" title="маркер на мапi" alt="place-marker"></button>
        }
    </div>
    @if (!string.IsNullOrEmpty(Model.Map))
    {
        <div class="popup-business__gmaps" id="@("mainmapDivId"+Model.BusinessId)">
                <iframe src="@Model.Map" allowfullscreen id="@("mainmapId"+Model.BusinessId)" style="display: none; width: 100%; height: 100%"></iframe>
            </div>
    }

    @{
        if (Model.Branches.Count != 0)
        {
            <hr />
            <h3 class="popup-business__header">@Translator.department :</h3>
            <hr />
            <br /> <br /> <br />
            foreach (var i in Model.Branches)
            {


                if (Translator.language == "ru")
                {
                    <h3 class="popup-business__header">@i.MainName</h3>
                }
                else
                {
                    <h3 class="popup-business__header">@i.MainNameEn</h3>
                }

                if (!string.IsNullOrEmpty(i.Fb))
                {
                    <a class="popup-business__social-link" href="@i.Fb" target="_blank"><img class="popup-business__social-img" src="/Content/img/facebook.png" title="facebook" alt="facebook"></a>
                }
                if (!string.IsNullOrEmpty(i.Tw))
                {
                    <a class="popup-business__social-link" href="@i.Tw" target="_blank"><img class="popup-business__social-img" src="/Content/img/twitter.png" title="facebook" alt="twitter"></a>
                }
                if (!string.IsNullOrEmpty(i.Tw))
                {
                    <a class="popup-business__social-link" href="@i.Tw" target="_blank"><img class="popup-business__social-img" src="/Content/img/instagram.png" title="instagram" alt="instagram"></a>
                }

                <div class="popup-business__description-wrapper">
                    <div class="popup-business__img-wrapper"><img class="popup-business__small-img" src="/Content/img/gear-wheel.png" alt="gear-wheel.png"><img class="popup-business__big-img" src="/Images/Photo/@i.Photo" alt=""></div>
                    @{
                        if (Translator.language == "ru")
                        {
                            <div class="popup-business__text">@Html.Raw(i.Description)</div>
                        }
                        else
                        {
                            <div class="popup-business__text">@Html.Raw(i.DescriptionEn)</div>
                        }
                    }
                </div>
                <div class="popup-business__contacts">

                    @if (Translator.language == "ru")
                    {
                        if (!string.IsNullOrEmpty(i.City))
                        {
                            <div class="popup-business__item">@Translator.city:</div>
                            <div class="popup-business__item">@i.City</div>
                        }

                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(i.CityEn))
                        {
                            <div class="popup-business__item">@Translator.city:</div>
                            <div class="popup-business__item">@i.CityEn</div>
                        }

                    }


                    @if (Translator.language == "ru")
                    {
                        if (!string.IsNullOrEmpty(i.Address))
                        {
                            <div class="popup-business__item">@Translator.address:</div>
                            <div class="popup-business__item">@i.Address</div>
                        }

                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(i.AddressEn))
                        {
                            <div class="popup-business__item">@Translator.address:</div>
                            <div class="popup-business__item">@i.AddressEn</div>
                        }

                    }


                    <div class="popup-business__item">@Translator.phone:</div>
                    <div>
                        @if (!string.IsNullOrEmpty(i.Phone1))
                        {
                            <a class="popup-business__item_link" href="tel:@i.Phone1">@i.Phone1 &nbsp;</a>
                        }
                        @if (!string.IsNullOrEmpty(i.Phone2))
                        {
                            <a class="popup-business__item_link" href="tel:@i.Phone2">@i.Phone2 &nbsp;</a>
                        }
                        @if (!string.IsNullOrEmpty(i.Phone3))
                        {
                            <a class="popup-business__item_link" href="tel:@i.Phone3">@i.Phone3 &nbsp;</a>
                        }
                    </div>



                    @if (!string.IsNullOrEmpty(i.Site))
                    {
                        <div class="popup-business__item">@Translator.site:</div><a class="popup-business__item_link" href="@i.Site">@i.Site</a>
                    }
                    @if (!string.IsNullOrEmpty(i.Map))
                    {
                        <div class="popup-business__item">@Translator.on_the_map:</div>
                        <button class="popup-business__item_btn"  onclick="shouBranchMap(@i.BranchId)"><img src="/Content/img/marker-map.png" title="маркер на мапi" alt="place-marker"></button>
                    }
                </div>
                if (!string.IsNullOrEmpty(i.Map))
                {
                    <div class="popup-business__gmaps" id="@("divmapBranchId"+i.BranchId)">
                        <iframe src="@i.Map" allowfullscreen id="@("mapBranchId"+i.BranchId)" style="display: none; width: 100%; height: 100%"></iframe>
                    </div>
                }

            }
        }
    }

</div>
<script>
    function shouBranchMap(id) {
        var div = $("#mapBranchId" + id);
        if (div.css("display") == "none") {
            $('#divmapBranchId'+id).css({ 'border': '1px solid grey', 'transition': 'height .5s', 'height': '300px' });
            div.css("display", "block");
        } else {
            $('#divmapBranchId' + id).css({ 'border': '1px solid transparent', 'transition': 'height .5s', 'height': '0px' });
            div.css("display", "none");
        }
    }


    function shouMap(id) {
        var div = $("#mainmapId" + id);
        if (div.css("display") == "none") {
            $('#mainmapDivId'+id).css({ 'border': '1px solid grey', 'transition': 'height .5s', 'height': '300px' });
            div.css("display", "block");
        } else {
            $('#mainmapDivId' + id).css({ 'border': '1px solid transparent', 'transition': 'height .5s', 'height': '0px' });
            div.css("display", "none");
        }

    }
    $('.popup-business__close').click(function () {
        $(this).parent().css('display', 'block');
        $('.popups-section, .popup-business').css('display', 'none');
        $('.popup-business__gmaps').css({ 'border': '1px solid transparent', 'transition': 'height .5s', 'height': '0px' });
    });


</script>

