
@{
    ViewBag.Title = "Додати в команду";
}

<h2>Додати в команду</h2>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <input type="hidden" id="fileNamePhoto" value="" />
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>ЗБЕРЕГТИ</td>
                                    <td>@(Html.Kendo().Button().Name("save").Content("ЗБЕРЕГТИ").Events(e => e.Click("SaveTeam")).HtmlAttributes(new { @class = "btn btn-success" }))</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>Фото</td>
                                    <td>
                                        <div id="photo"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="file" name="UploadFile" id="UploadFilePhoto" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ім'я українською</td>
                                    <td>@(Html.Kendo().TextBox().Name("mainName").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td>Ім'я англійською</td>
                                    <td>@(Html.Kendo().TextBox().Name("mainNameEn").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td>Місто українською</td>
                                    <td>@(Html.Kendo().TextBox().Name("city").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td>Місто англійською</td>
                                    <td>@(Html.Kendo().TextBox().Name("cityEn").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4>Інформація</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td class="">Телефон 1</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("phone1").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td class="">Email</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("email").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td class="">Телефон 2</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("phone2").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td class="">Телефон 3</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("phone3").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td class="">Facebook</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("fbUrl").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td class="">Google+</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("googleUrl").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td class="">Twitter</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("twUrl").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td class="">Instagram</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("instUrl").HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">Опис українською</div>
                    <div class="panel-body">
                        @(Html.Kendo().Editor()
                                              .Name("bodyUa")
                                              .Resizable(resizeble => resizeble.Content(true).Toolbar(true))
                                              .Tools(tools => tools
                                                  .Clear()
                                                  .Bold().Italic().Underline().Strikethrough()
                                                  .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                  .InsertUnorderedList().InsertOrderedList()
                                                  .Outdent().Indent()
                                                  .CreateLink().Unlink()
                                                  .SubScript()
                                                  .SuperScript()
                                                  .TableEditing()
                                                  .ViewHtml()
                                                  .CleanFormatting()
                                                  .FontName()
                                                  .FontSize()
                                                  .FontColor().BackColor()
                                              )
                        )
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">Опис англійською</div>
                    <div class="panel-body">
                        @(Html.Kendo().Editor()
                                              .Name("bodyEn")
                                              .Resizable(resizeble => resizeble.Content(true).Toolbar(true))
                                              .Tools(tools => tools
                                                  .Clear()
                                                  .Bold().Italic().Underline().Strikethrough()
                                                  .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                  .InsertUnorderedList().InsertOrderedList()
                                                  .Outdent().Indent()
                                                  .CreateLink().Unlink()
                                                  .SubScript()
                                                  .SuperScript()
                                                  .TableEditing()
                                                  .ViewHtml()
                                                  .CleanFormatting()
                                                  .FontName()
                                                  .FontSize()
                                                  .FontColor().BackColor()
                                              )
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        function SaveTeam() {
            var _bodyContentUA = $("#bodyUa").data('kendoEditor').encodedValue();
            var _bodyContentEN = $("#bodyEn").data('kendoEditor').encodedValue();
            var _fileNamePhoto = $("#fileNamePhoto").val();
            var _mainName = $("#mainName").val();
            var _mainNameEn = $("#mainNameEn").val();
            var _phone1 = $("#phone1").val();
            var _email = $("#email").val();
            var _phone2 = $("#phone2").val();
            var _phone3 = $("#phone3").val();
            var _fbUrl = $("#fbUrl").val();
            var _googleUrl = $("#googleUrl").val();
            var _twUrl = $("#twUrl").val();
            var _instUrl = $("#instUrl").val();
            var _cityEn = $("#cityEn").val();
            var _city = $("#city").val();

            var data = {
                bodyContentUA: _bodyContentUA,
                bodyContentEN: _bodyContentEN,
                fileNamePhoto:_fileNamePhoto,
                mainName:_mainName,
                mainNameEn:_mainNameEn,
                phone1:_phone1,
                email:_email,
                phone2:_phone2,
                phone3:_phone3,
                fbUrl:_fbUrl,
                googleUrl:_googleUrl,
                twUrl:_twUrl,
                instUrl:_instUrl,
                city: _city,
                cityEn: _cityEn
            };
            $.ajax({
                type: "POST",
                url: "/TeamMember/SaveNew",
                data: data,
                success: function() {
                    location.href = '/TeamMember/Index';
                }
            });

        }
        $('#UploadFilePhoto').on('change', function (e) {
            var files = e.target.files;
            var myID = "t"; //uncomment this to make sure the ajax URL works
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++){
                        //alert(files[x].name);
                        data.append(files[x].name, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Upload/UploadFile?id=' + myID,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function(result) {
                            $("#fileNamePhoto").val(result);
                            $("<div class='photo'><img src='/Images/Team/" + result + "' style='height:150px;width:auto' id='" + result +"'/></div>").appendTo($("#photo"));
                        },
                        error: function (xhr, status, p3, p4){
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });
    </script>
</body>
</html>