
@{
    ViewBag.Title = "Редагування";
}
@model VSCore.Entity.TeamMember
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
    <br />
    <br />
    <br />
    <h2>Редагування участника команди</h2>
    <div class="container-fluid">
        <input type="hidden" id="fileNamePhoto" value="@Model.Photo" />
        <input type="hidden" id="memberId" value="@Model.Id" />
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>SAVE</td>
                                    <td>@(Html.Kendo().Button().Name("save").Content("Зберегти").Events(e => e.Click("SaveBuisnes")).HtmlAttributes(new { @class = "btn btn-success" }))</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>Фото</td>
                                    <td>
                                        @(Html.Kendo().Button().Name("removePhoto").Content("Видалити фото").HtmlAttributes(new {@class = "btn btn-danger"}).Events(e=>e.Click("removePhotoClick")))
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: center">
                                        @(Html.Kendo().Upload().Name("photoUpload")
                                              .Enable(false)
                                              .Validation(validation =>
                                              {
                                                  validation.AllowedExtensions(new string[] { ".jpg", ".jpeg", ".png", ".bmp", ".gif" });
                                                  validation.MinFileSize(500);
                                              })
                                              .Events(e => e.Success("onSuccessPhoto").Remove("onSuccessPhoto"))
                                              .Async(a => a
                                                  .Save("Async_Save", "TeamMember")
                                                  .Remove("Async_Remove", "TeamMember")
                                                  .AutoUpload(true)))
                                        <img src="~/Images/Team/@Model.Photo" height="250" width="auto" id="photoImg"/>
                                        <div id="photo"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>Им'я україноською</td>
                                    <td>@(Html.Kendo().TextBox().Name("mainName").Value(@Model.Name).HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td>Им'я английською</td>
                                    <td>@(Html.Kendo().TextBox().Name("mainNameEn").Value(@Model.NameEn).HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td>Місто україноською</td>
                                    <td>@(Html.Kendo().TextBox().Name("city").Value(@Model.City).HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td>Місто английською</td>
                                    <td>@(Html.Kendo().TextBox().Name("cityEn").Value(@Model.CityEn).HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4>ІНФОРМАЦИЯ</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td class="">Телефон 1</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("phone1").Value(@Model.Phone1).HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td class="">Email</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("email").Value(@Model.Email).HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td class="">Телефон 2</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("phone2").Value(@Model.Phone2).HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td class="">Телефон 3</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("phone3").Value(@Model.Phone3).HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td class="">Facebook</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("fbUrl").Value(@Model.Fb).HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td class="">Google+</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("googleUrl").Value(@Model.Google).HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                    <td class="">Twitter</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("twUrl").Value(@Model.Tw).HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                                <tr>
                                    <td class="">Instagram</td>
                                    <td class="">@(Html.Kendo().TextBox().Name("instUrl").Value(@Model.Inst).HtmlAttributes(new { style = "display:block; width:100%" }))</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">Опис україноською</div>
                    <div class="panel-body">
                        @(Html.Kendo().Editor()
                                                                      .Name("bodyUa")
                                                                      .Resizable(resizeble => resizeble.Content(true).Toolbar(true))
                                                                      .Tools(tools => tools
                                                                          .Clear()
                                                                          .Bold().Italic().Underline().Strikethrough()
                                                                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                                          .InsertUnorderedList().InsertOrderedList()
                                                                          .Outdent().Indent()
                                                                          .CreateLink().Unlink()
                                                                          .SubScript()
                                                                          .SuperScript()
                                                                          .TableEditing()
                                                                          .ViewHtml()
                                                                          .CleanFormatting()
                                                                          .FontName()
                                                                          .FontSize()
                                                                          .FontColor().BackColor()
                                                                      )
                                                              .Value(Model.Description)
                        )
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">Опис англійською</div>
                    <div class="panel-body">
                        @(Html.Kendo().Editor()
                                                                      .Name("bodyEn")
                                                                      .Resizable(resizeble => resizeble.Content(true).Toolbar(true))
                                                                      .Tools(tools => tools
                                                                          .Clear()
                                                                          .Bold().Italic().Underline().Strikethrough()
                                                                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                                          .InsertUnorderedList().InsertOrderedList()
                                                                          .Outdent().Indent()
                                                                          .CreateLink().Unlink()
                                                                          .SubScript()
                                                                          .SuperScript()
                                                                          .TableEditing()
                                                                          .ViewHtml()
                                                                          .CleanFormatting()
                                                                          .FontName()
                                                                          .FontSize()
                                                                          .FontColor().BackColor()
                                                                      )
                                                              .Value(Model.DescriptionEn)
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        function SaveBuisnes() {
            var _bodyContentUA = $("#bodyUa").data('kendoEditor').encodedValue();
            var _bodyContentEN = $("#bodyEn").data('kendoEditor').encodedValue();
            var _fileNamePhoto = $("#fileNamePhoto").val();
            var _mainName = $("#mainName").val();
            var _mainNameEn = $("#mainNameEn").val();
            var _phone1 = $("#phone1").val();
            var _email = $("#email").val();
            var _phone2 = $("#phone2").val();
            var _phone3 = $("#phone3").val();
            var _fbUrl = $("#fbUrl").val();
            var _googleUrl = $("#googleUrl").val();
            var _twUrl = $("#twUrl").val();
            var _instUrl = $("#instUrl").val();
            var _cityEn = $("#cityEn").val();
            var _city = $("#city").val();
            var _id = $("#memberId").val();

            var data = {
                id: _id,
                bodyContentUA: _bodyContentUA,
                bodyContentEN: _bodyContentEN,
                fileNamePhoto: _fileNamePhoto,
                mainName: _mainName,
                mainNameEn: _mainNameEn,
                phone1: _phone1,
                email: _email,
                phone2: _phone2,
                phone3: _phone3,
                fbUrl: _fbUrl,
                googleUrl: _googleUrl,
                twUrl: _twUrl,
                instUrl: _instUrl,
                city: _city,
                cityEn: _cityEn
            };
            $.ajax({
                type: "POST",
                url: "/TeamMember/SaveEdit",
                data: data,
                success: function () {
                    location.href = '/TeamMember/Index';
                }
            });

        }

        function removePhotoClick() {
            a = { fileNames: $("#fileNamePhoto").val() };
            $.ajax({
                type: "POST",
                url: "/TeamMember/Async_Remove/",
                data: a,
                success: function (data) {
                    //location.href = '/TeamMember/Index';
                    if (data == "OK") {
                        $("#photoImg").css("display", "none");
                        $("#photoUpload").kendoUpload({
                            enabled: true
                        });
                        $("#removePhoto").kendoButton({
                            enable: false
                        });
                    }
                }
            });
        }

        function onSuccessPhoto(e) {
            //alert(e.response.fileName);
            $("#fileNamePhoto").val(e.response.fileName);
            if (e.operation == "upload") {
                for (var i = 0; i < e.files.length; i++) {
                    var file = e.files[i].rawFile;

                    if (file) {
                        var reader = new FileReader();

                        reader.onloadend = function() {
                            $("<div class='photo'><img src=" + this.result + " /></div>").appendTo($("#photo"));
                        };

                        reader.readAsDataURL(file);
                    }
                }
            }
            if (e.operation == "remove") {
            }
        }
    </script>
</body>
</html>
